clumppling.egg-info/*
dist/*
build/*
output/*
input/capeverde/*
input/capeverde_admixtureQ/*
input/chicken/*
input/chicken_gapK/*
input/diffInd/*
input/diffModel/*
clumppling/__pycache__

# for MacOS users
**/.DS_Store
