clumppling.egg-info/*
dist/*
build/*
output/*
input/capeverde/*
input/capeverde_admixtureQ/*
input/chicken/*
input/chicken_gapK/*
input/diffInd/*
input/diffModel/*
input/edge_case_capeverde/*
clumppling/__pycache__

# for MacOS users
**/.DS_Store

# for Google Drive
desktop.ini
**/desktop.ini
